@page "/fetchdata"
@using Csharks.Shared
@inject HttpClient Http

<h1>Shelter</h1>

<p>Hvilket shelter vil du booke</p>
<table class="row">
        <tbody>
            <lable for="Fuldenavn">Fulde navn</lable>
            <td><input form="Fuldenavn"/></td>
        </tbody>
        </table>



    <table class="table">
        <thead>
            <tr>
                <th>Shelter</th>
            </tr>
        </thead>
        <tbody>

        
            @foreach (var shelter in shelters)
            {
                <tr>
                    <td>@shelter.Properties.Navn</td>
                    <Input typeof="button"@onclick="Booking"/>
                </tr>
            }
           
        </tbody>
    </table>
}

@code {
    private Shelter[] shelters = Array.Empty<Shelter>();

    protected override async Task OnInitializedAsync()
    {
        shelters = await Http.GetFromJsonAsync<Shelter[]>("Shelter");
    }

    private Booking[]

}
