@page "/fetchdata"
@using Csharks.Shared
@inject HttpClient Http

<h1>Shelter</h1>

<p>Hvilket shelter vil du booke?</p>

<input form="Name" @bind="@nybooking.Fuldenavn"/>

    <table class="table">
        <thead>
            <tr>
                <th>Shelter</th>
            </tr>
        </thead>
        <tbody>

        
            @foreach (var shelter in shelters)
            {
                <tr>
                    <td><button @onclick="()=>save(shelter.Id)">Book</button></td>
                    <td>@shelter.Properties.Navn</td>
                    
                </tr>
            }
           
        </tbody>
    </table>
}

@code {
    Booking nybooking = new Booking();

    private async Task save(string id)
    {
            nybooking.Shelter_id = id;
        var response = await Http.PutAsJsonAsync<Booking>("Booking", nybooking);

    }

    private Shelter[] shelters = Array.Empty<Shelter>();

    protected override async Task OnInitializedAsync()
    {
        shelters = await Http.GetFromJsonAsync<Shelter[]>("Shelter");
    }
    
    

    

}
