@page "/"

<h1>Velkommen til Århus kommunes</h1>
<h1>Shelter booking</h1>

Her har du mulighed for at booke et shelter til en weekendtur med venner og familie
Århus kommune ønsker jer en rigtig hyggelig shelter tur
