@page "/"

<h1>Velkommen til Århus kommunens Shelter booking</h1>
<h3><ol>Her har du mulighed for at booke et shelter til en weekendtur med venner og familie.</ol></h3>
<h4><ol>Århus kommune ønsker jer en rigtig hyggelig shelter tu.</ol></h4>
