@page "/Shelter forside"
@using Csharks.Shared;
@inject HttpClient Http
<h3>Shelter booking</h3>
<p>Velkommen</p>  

  
        @foreach (var shelter in shelterdata)
            {
              
                     <p>Shelter Prop: @shelter.Properties</p>  
               
                             
            }
    @foreach (var place in shelterdata)
    {
        
            <p>Shelter place: @place.Geometry.Coordinates</p>
        
    }
@code {
    private Shelter[] shelterdata = Array.Empty<Shelter>();
   
    protected override async Task OnInitializedAsync()
    {
        shelterdata = await Http.GetFromJsonAsync <Shelter[]>("ShelterData");
      
    }
}
