@page "/Shelter forside"
@using Csharks;
@using Csharks.Shared;
@inject HttpClient Http
<head>

</head>
<body>
    <h1>Shelter booking</h1>
    <p>Velkommen</p>  
   <ul>
        @foreach (var shelters in shelterdata)
            {
                <tr>
                    <td>@shelters.Id</td>
                    <td>@shelters.Geometry</td>
                    <td>@shelters.Properties</td>
                </tr>
            }
   </ul>
</body>
@code {
    private Shelter[] shelterdata = Array.Empty<Shelter>();
   
    protected override async Task OnInitializedAsync()
    {
        shelterdata = await Http.GetFromJsonAsync<Shelter[]>("ShelterData");
      
    }
}
