@page "/Shelter forside"
@using Csharks.Shared;
@inject HttpClient Http
<h3>Shelter booking</h3>
<p>Velkommen</p>  

  <ul>
        @foreach (var shelter in shelterdata)
            {
                <li>
                    <input @bind = "shelter.Id"/>          
                    <input @bind = "shelter.Geometry"/>
                    <input @bind = "shelter.Properties"/>
                </li>              
            }
  </ul>
@code {
    private Shelter[] shelterdata = Array.Empty<Shelter>();
   
    protected override async Task OnInitializedAsync()
    {
        shelterdata = await Http.GetFromJsonAsync <Shelter[]>("ShelterData");
      
    }
}
